<div class="header" id="home">
  <div class="top-header">
    <div class="container">
      <div class="logo">
        <a href="index.html"><img src="images/logo.png" alt="" /></a>
      </div>
      <div class="header-top-right">
        <!-- start search-->
        <div class="search-box">
          <div id="sb-search" class="sb-search">
            <form>
              <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"> </span>
            </form>
          </div>
        </div>
        <!-- search-scripts -->
        <script src="js/classie.js"></script>
        <script src="js/uisearch.js"></script>
        <script>
          new UISearch( document.getElementById( 'sb-search' ) );
        </script>
        <!-- //search-scripts -->

        <a href="cart.html"><i class="cart"></i></a>
      </div>
      <div class="navigation">
        <label class="mobile_menu" for="mobile_menu">
          <span>Menu</span>
        </label>
        <input id="mobile_menu" type="checkbox">
        <ul class="nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li class="dropdown1"><a href="#">Dresses</a>
            <ul class="dropdown2">
              <li><a href="products.html">Dress Materials</a></li>
              <li><a href="products.html">Kurta & Kurti</a></li>
              <li><a href="products.html">Sarees</a></li>
              <li><a href="products.html">Chudidars</a></li>
            </ul>
          </li>

          <li class="dropdown1"><a href="#">Bags</a>
            <ul class="dropdown2">
              <li><a href="products.html">Latest</a></li>
              <li><a href="products.html">Leather Bags</a></li>
              <li><a href="products.html">Hand Bags</a></li>
            </ul>
          </li>

          <li class="dropdown1"><a href="#">Shoes</a>
            <ul class="dropdown2">
              <li><a href="products.html">Sports Shoes</a></li>
              <li><a href="products.html">Casual Shoes</a></li>
              <li><a href="products.html">Formal Shoes</a></li>
            </ul>
          </li>

          <li><a href="contact.html">Contact US</a></li>
          <div class="clearfix"></div>
        </ul>
      </div>
    </div>
  </div>
</div>